* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 18px;
}

body {
  
  background-image: url("assets/money-falling.jpg");
  
  
}

.container {
  width: 375px;
  background-color: #f4f4f4;
  margin: 0 auto;
  margin-top: 10px;
  
}

header {
  background-color: #1b83e2;
  height: 66px;
}

h1 {
  font-weight: 400;
  font-size: 24px;

  color: #f4f4f4;
  text-align: center;
  padding-top: 25px;
}

main {
  padding: 24px;
}

label {
  font-size: 14px;

  color: #777777;
}

select {
  width: 100%;
  height: 48px;
  display: block;
  background: #ffffff;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  appearance: none;
  padding: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  margin-top: 6px;
  margin-bottom: 24px;
}

input {
  width: 100%;
  height: 48px;
  display: block;
  background: #ffffff;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  outline: none;
  padding: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  margin-top: 6px;
  margin-bottom: 24px;
  font-size: 20px;
}

button {
  background: #1b83e2;
  border-radius: 25px;
  height: 48px;
  width: 100%;
  font-weight: bold;
  font-size: 16px;
  color: #f4f4f4;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

button:active {
  opacity: 0.5;
}

section {
  border: 1px solid #1b83e2;
  border-radius: 4px;
  margin-top: 36px;
}

.currency-container {
  text-align: center;
  padding: 15px;
}

.currency-name {
  color: #777777;
  font-weight: 400;
  font-size: 14px;
}

.currency-value {
    color: #1B83E2;
    font-weight: 700;
    font-size: 20px;
}

#seta {
    padding-left: 144px;
}